section.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6em;
    padding: 2em;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    background-color: #E5E5E5;
    color: var(--neutral-800);
}

section.hero > p {
    line-height: 1.5;
    font-size: 1rem;
}

section.hero > button {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: var(--red-500);
    padding: 1em 2em;
    color: var(--neutral-800);
    box-shadow: 5px 5px var(--neutral-800) ;
    transition: transform 0.5s ease-out;
}

section.hero > button:hover {
    transform: scale(1.1, 1.1);
}

section.hero > button:active {
    background-color: var(--orange-200);
}