header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--orange-200);
}

.header-title {
    font-size: 1.8rem;
    padding: 1em;
    text-align: center;
    font-weight: bold;
    align-self: stretch;
    border-bottom: 1px solid var(--neutral-800);
    color: var(--neutral-800);
    
}

.scores-container {
    padding: 2em 0 1em 0;
}

.score, .highscore {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1rem;
    color: var(--red-500);
}

.score > span:first-child, .highscore > span:first-child {
    flex: 1;
    text-decoration: underline;
}